# Ignore node_modules (local dependencies)
node_modules

# Ignore build artifacts
dist

# Ignore configuration files that shouldn't be shared
.env
.vscode
.idea

# Ignore miscellaneous system files and logs
.DS_Store
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore Git-specific files
.git
.gitignore
